/**
 * 组件和引用组件的页面不能使用 id 选择器（#a）、属性选择器（[a]）和标签名选择器，请改用 class 选择器
 * 组件和引用组件的页面中使用后代选择器（.a .b）在一些极端情况下会有非预期的表现，如遇，请避免使用
 * 子元素选择器（.a > .b）只能用于 View 组件与其子节点之间，用于其他组件可能导致非预期的情况 (BEM禁用)
 * 继承样式，如 font 、 color ，会从组件外（父组件）继承到组件内。但是引用组件时在组件节点上书写的 className 无效
 * 除继承样式外， app.scss 中的样式、组件所在页面的样式，均对自定义组件无效
 * https://nervjs.github.io/taro/docs/component-style.html
 */

//跨平台 weapp h5

/*  #ifdef  %PLATFORM%  */

/*  #endif  */

//指定平台剔除样式

/*  #ifndef  %PLATFORM%  */

/*  #endif  */

$namespace: ".entrance_c";

#{$namespace} {
  display: flex;
  flex-direction: row;
  // padding: 20px;
  >.entrance_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    >.img{
      height: 100px;
      width: 100px;
    }
    >.text{
      font-size: 24px;
      // margin-top: 8px;
      color: #555;
    }
  }
}
